@model IEnumerable<EmployeeModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Create" class="btn btn-primary">Add New Employee</a>
<div></div>
@if (Model.Count() > 0)
{    <h4>Stored on cache at: @Model.FirstOrDefault().DataRetriveon.ToString()</h4><table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x=>x.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(x=>x.Email)
            </th>
            <th>
                @Html.DisplayNameFor(x=>x.gender)
            </th>
            <th>
                @Html.DisplayNameFor(x=>x.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(x=>x.Salary)
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(@modelitem=>@item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(@modelitem=>@item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(@modelitem=>@item.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(@modelitem=>@item.Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(@modelitem=>@item.Salary)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-Id=@item.Id class="btn btn-primary">Edit</a> |
                        <a asp-action="Delete" asp-route-Id=@item.Id class="btn btn-danger">Delete</a>
                    </td>
                    <td></td>
                </tr>

            }
        </tbody>
</table>
    
}
else
{
    <p>Not Any Data....</p>
}